body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.description {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-item .nav-link {
    color: #333;
}

.dropdown-toggle {
    color: #333;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.dropdown-item {
    color: #333;
}

.logo {
    display: block;
    margin: 40px auto;
    max-width: 600px;
    width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .dropdown-menu {
        min-width: 100%;
    }
}


.world{
    max-width: 200px;
    width: 100%;
}

